<!DOCTYPE html>
<html>
<head>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body style="background-image: url('{{ url_for("static", filename=background) }}');">
			<h1>Hello from {{ ownName }}!</h1>
			<h1>The employee {{ name }} was successfully added to the database</h1><br>
			<h2>The Employee has been added to the database</h2><br>
			<h2>{{ name }}</h2><br>
			<title>Add Emp Output</title>
			<a href="{{ url_for('home') }}">Back</a>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
